{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
   "id": $util.dynamodb.toDynamoDBJson($ctx.arguments.formId)
  },
  "attributeValues": {
    "fieldName":  $util.dynamodb.toDynamoDBJson($context.arguments.fieldName),
    "fieldValue": $util.dynamodb.toDynamoDBJson($context.arguments.fieldValue)
    }
}

